/* TODO Add site wide styles */
@font-face {
    font-family: 'Klavika Bold';
    src: url('./static/klavika-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Medium';
    src: url('./static/klavika-medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Light';
    src: url('./static/klavika-light.otf');
    font-weight: normal;
    font-style: normal;
}
