.post-item {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
}

.post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-fullname {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.post-updated-at {
    font-size: 13px;
    margin: 0;
}

.edit-button, .delete-button {
    font-size: 16px;
    color: white;
    background: none;

    padding: 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 20px;
}

.edit-button:hover, .delete-button:hover {
    cursor: pointer;
    background-color: #38393b;
}

.post-content {
    padding: 16px;
    margin: 0;
}

.post-pic {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.like-and-comment-counter-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #38393b;
    margin-top: 5px;
    margin-bottom: 8px;
}

.fa-thumbs-up {
    margin-right: 5px;
}

.like-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}

.like-count, .comment-count {
    margin: 0;
}

.fa-comment {
    margin-left: 5px;
}

.comment-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}
