.post-item {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
}

.post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-fullname {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
    margin: 0;
}

.post-updated-at {
    font-size: 13px;
    margin: 0;
}

.edit-button, .delete-button {
    font-size: 16px;
    color: white;
    background: none;

    padding: 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 20px;
}

.edit-button:hover, .delete-button:hover {
    cursor: pointer;
    background-color: #38393b;
}

.post-content {
    padding: 10px;
    margin: 0;

    box-sizing: border-box;
    overflow-wrap: break-word;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #a3a6ab;

    width:100%;
    height: fit-content;
}

.post-pic {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.like-and-comment-counter-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #38393b;
    margin-top: 5px;
    margin-bottom: 4px;
}

.fa-thumbs-up.count {
    margin-right: 5px;
}

.like-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}

.like-count, .comment-count {
    margin: 0;
}

.fa-comment.count {
    margin-left: 5px;
}

.comment-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}

.like-and-comment-button-container {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #38393b;
    margin-bottom: 10px;
}

.like-button, .comment-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);

    width: 49.5%;
    height: 32px;
    margin-bottom: 4px;

    border-radius: 5px;
}

.like-button:hover, .comment-button:hover {
    cursor: pointer;
    background: #3a3b3c;
}

.fa-solid.fa-thumbs-up.button, .fa-regular.fa-thumbs-up.button, .fa-regular.fa-comment.button{
    margin-right: 5px;
}

.fa-regular.fa-thumbs-up.button, .fa-regular.fa-comment.button {
    color: #a3a6ab;
    font-size: 18px;
}

.fa-solid.fa-thumbs-up.button {
    color: #2d86ff;
    font-size: 18px;
}

.like-text, .comment-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #a3a6ab;
    font-size: 15px;
    margin: 0;
}

.liked-like-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d86ff;
    font-size: 15px;
    margin: 0;
}
