.post-item {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
}

.post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-pic {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.like-and-comment-counter-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #38393b;
}

.fa-thumbs-up {
    margin-right: 5px;
}

.like-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}

.fa-comment {
    margin-left: 5px;
}

.comment-counter {
    color: #a3a6ab;
    display: flex;
    align-items: center;
}
