.signup, .quick-and-easy {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.quick-and-easy {
    color: #686e73;
    padding: 5px 0px 10px;
    border-bottom: solid 1px #d9dcdf;
}

.errors {
    font-family: Arial, Helvetica, sans-serif;
    color: #b94a48;

    margin-top: 0;
}

.errors li {
    list-style: none;
}

.signup-container {
    background-color: white;
    height: fit-content;
    width: 432px;

    border-radius: 5px;
    padding: 5px;
    box-shadow: #727272 3px 3px 5px;
}

.signup-top {
    padding: 16px 10px 16px 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.name-input, .non-name-input, #day, #month, #year {
    background-color: #f5f6f7;
}

.name-inputs {
    display: flex;
    justify-content: space-between;

    width: 400px;
}

.name-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding: 11px;
    width: 170px;
    height: 16px;

    outline: none;
    border: 1px solid #b6b8bb;
    border-radius: 5px;
}

.non-name-input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    padding: 11px;
    width: 375px;
    height: 16px;

    outline: none;
    border: 1px solid #b6b8bb;
    border-radius: 5px;
}

.name-input, .non-name-input {
    margin-bottom: 10px;
}

.signup-dob-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #676e77;
}

.signup-dob {
    display: flex;
    justify-content: space-between;

    width: 400px;
}

.signup-dob-select, .signup-dob-select option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    border-radius: 5px;
}

.signup-dob-select:hover {
    cursor: pointer;
}

#day, #month, #year {
    width: 125px;
    height: 35px;

    padding: 0px 8px 0px;
    border: 1px solid #b6b8bb;
}
