.feed-container {
    position: fixed;
    top: 56px;
    display: flex;
}

@media (min-width: 1100px) {
    .feed-center {
        left: 280px;
    }
}

@media (max-width: 1100px) {
    .feed-left {
        visibility: hidden;
    }

    .feed-center {
        left: 0;
    }
}

.feed-left {
    background-color: #18191a;
    position: fixed;
    top: 56px;
    left: 0;

    padding: 15px 0px 0px 15px;

    width: 280px;
    height: 100vh;
}

.profile-info-container {
    display: flex;
    align-items: center;

    padding: 0px 8px 0px;
    margin: 0px;

    width: 248px;
    height: 44px;
}

.profile-info-container:hover {
    cursor: pointer;
    background-color: #3a3b3c;
    border-radius: 10px;
}

.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-fullname {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.feed-center {
    background-color: #18191a;
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 15px;
    margin: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.feed-center::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.feed-right {
    background-color: #18191a;
    position: fixed;
    z-index: 0;
    top: 56px;
    right: 0;
    width: 280px;
    height: 100vh;
}

.create-post-container {
    background-color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
    padding: 12px 16px 10px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.create-post-top {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #38393b;
    margin-bottom: 5px;
}

.create-post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}

.user-profile-pic-button {
    height: 40px;
    width: 40px;

    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin-right: 8px;
}

.user-profile-pic-button:hover {
    cursor: pointer;
}

.post-button {
    font-family: Arial, Helvetica, sans-serif;
    color: #a3a6ab;
    font-size: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3a3b3c;

    width: 396px;
    padding: 12px 8px 12px;

    border: none;
    outline: none;
    border-radius: 20px;
}

.post-button:hover {
    cursor: pointer;
    background-color: #5a5c5e;
}

.create-post-bottom {
    display: flex;
    justify-content: space-between;

    width: 468px;
}

.video-button, .photo-button, .feeling-button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: none;
    border-radius: 8px;

    width: 33%;
}

.video-button:hover, .photo-button:hover, .feeling-button:hover {
    cursor: pointer;
    background-color: #3a3b3c;
}

.video-text, .photo-text, .feeling-text {
    font-size: 16px;
    color: #aeb1b6;
    margin: 0;
}

i.fa-solid.fa-video {
    font-size: 20px;
    color: #f02849;
    margin-right: 8px;
}

i.fa-regular.fa-image {
    font-size: 20px;
    color: #45bd62;
    margin-right: 8px;
}

i.fa-regular.fa-face-laugh {
    font-size: 20px;
    color: #f7b928;
    margin-right: 8px;
}

.post-item-container {
    background-color: #242526;
    width: 500px;
    box-sizing: border-box;
    padding: 12px 16px 10px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.post-pic {
    position: relative;
    right: 16px;
}
