.delete-comment-modal-container {
    background-color: #242526;

    width: 500px;
    height: fit-content;
    box-sizing: border-box;

    border-radius: 10px;
    padding: 15px;
}

.delete-comment {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    display: flex;
    justify-content: center;

    width: 500px;
    padding-bottom: 20px;
    border-bottom: 1px solid #38393b;
}

.comment-content-modal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #a3a6ab;

    width:100%;
    height: fit-content;
    box-sizing: border-box;

    padding: 0px 10px 25px;
    margin: 0;
}

.delete-comment-button-modal {
    color: white;
    font-size: 14px;
    background-color: #f5533d;

    width: 468px;
    height: 36px;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}

.delete-comment-button-modal:hover {
    cursor: pointer;
}

.cancel-delete-comment-button {
    color: #b1b1b1;
    font-size: 14px;
    background-color: #505151;

    width: 468px;
    height: 36px;

    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}

.cancel-delete-comment-button:hover {
    cursor: pointer;
}
