.comment-form-errors {
    font-family: Arial, Helvetica, sans-serif;
    color: #b94a48;
}

.comment-form-errors li {
    list-style: none;
}

.comment-form-container {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

.comment-form-right {
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    width: 430px;
    border-radius: 20px;
}

.comment-form {
    width: 100%;
    display: flex;
}

.comment-form-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;

    position: relative;
    left: 8px;
    top: 8px;

    width: 350px;
    height: 25px;
    background: none;
    border: none;
    resize: none;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.comment-form-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.comment-form-content:focus {
    border: none;
    outline: none;
}

.send-comment-button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    outline: none;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: none;
    border-radius: 0px 20px 20px 0px;
}

.send-comment-button:hover {
    cursor: pointer;
    background-color: #5a5c5e;
}
