@media (min-width: 980px) {
    .profile-top-upper {
        width: 941px;
    }

    .profile-top-lower {
        width: 941px;
    }
}

@media (max-width: 980px) {
    .profile-top-upper {
        width: 876px;
    }

    .profile-top-lower {
        width: 876px;
    }
}

/* USE TO CENTER PROFILE TOP */
/* @media (max-width: 915px) {

} */

.profile-top-container {
    background-color: #242526;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px 0px 0px;
    margin-bottom: 10px;
    width: 100vw;
}

.profile-top-upper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid #38393b;
}

.big-profile-pic {
    height: 168px;
    width: 168px;
    border-radius: 50%;
    margin-right: 16px;
}

.profile-top-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-top-fullname {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.profile-top-friends {
    font-family: Arial, Helvetica, sans-serif;
    color: #b0b3b8;
    margin: 0;
}

.profile-top-lower {
    display: flex;
    justify-content: flex-start;
}

.profile-posts {
    display: flex;
    align-items: center;

    text-decoration: none;
    box-sizing: border-box;
}

.profile-section-button {
    color: #b0b3b8;
    background: none;
    border-left: solid 3px rgba(255, 255, 255, 0);
    border-top: none;
    border-right: none;
    border-bottom: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 6px 0px;
}

.profile-section-button:hover {
    cursor: pointer;
    background: #3a3b3c;

    height: 60px;

    box-sizing: border-box;
    border: solid 3px #242526;
    border-radius: 10px;
}

.posts-text, .friends-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;

    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    padding: 0px 16px 0px;
    margin: 0;
}

.posts-text {
    color: #2e89ff;
    box-sizing: border-box;
    border-bottom: solid 3px #2e89ff;
}

.friends-text {
    color: #b0b3b8;

    position: relative;
    bottom: 2px;
}
