@media (min-width: 1400px) {
    .comment-content {
        max-width: 510px;
    }
}

@media (max-width: 1400px) {
    .comment-content {
        max-width: 330px;
    }
}

.comment-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-left {
    display: flex;
}

.comment-profile-pic-button {
    position: relative;
    top: 2px;

    height: 32px;
    width: 32px;

    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    margin-right: 8px;
}

.comment-profile-pic-button:hover {
    cursor: pointer;
}

.comment-profile-pic {
    position: relative;
    right: 2px;
    bottom: 2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 5px;
}

.comment-content-container {
    background-color: #3a3b3c;
    padding: 8px 12px 8px;
    border-radius: 20px;
    width: fit-content;
}

.comment-fullname {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 0;
}

.comment-fullname-button {
    background: none;
    padding: 0;
    margin-bottom: 5px;
    border: none;
    outline: none;
}

.comment-fullname-button:hover {
    cursor: pointer;
}

.comment-content {
    font-size: 15px;

    overflow-wrap: break-word;

    margin: 0;
}

.comment-updated-at {
    font-size: 12px;
    padding-top: 3px;
    padding-left: 20px;
    margin: 0;
}
